@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
    height: 100vh;
    background-size: cover;
    text-align: center;
    overflow: auto;
}
.card{
    background-color: #ffffff33;
    color: #ffffff;
    font-family: "Bree Serif";
    border: 2px solid #ffffff33;
    border-radius: 10px;
    display: flex;
    height: 170px;
    width: 300px;
    margin: 10px;
}

.heading {
    font-family: "Bree Saerif";
    font-size: 45px;
    color: #ffffff;
    font-weight: 800;
    margin-left: 5px;
    margin-top: 20px;
}
.ipl_name {
    font-size: 30px;
}
.team_container{
    background-image: linear-gradient(#d91c1f,#1e293b);
    height: 100vh;
    background-size: cover;
    overflow: auto;
}

.team_detils{
    background-color: #0f172a;
    /* width: 89%; */
    margin: 10px;
    display: flex;
    justify-self: space-around;
    margin-left: 15rem;
}
@media screen and (max-width : 576px) {
    .team_detils{
        margin-left: 15px;
        width: 90%;
    }
}

.items{
    background-color: #0f172a;
    height: 250px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}